# Ignore common Makefile output files
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dylib
*.bin
*.elf
*.map
*.dep
*.log
*.asm
payload_bin.c
ps5-payload-dev.tar.gz
build/
dist/
structs.h
structs.inc
kelf
uelf
